<h3>{{titulo}}</h3>
<hr>

<div *ngIf="!productos"> Cargando Productos...</div>

<div *ngIf="productos">
    <div class="row">
        <div class="col-lg-3" *ngFor="let producto of productos">
            <div class="img-thumbnail">
                <div *ngIf="producto.imagen" class="imagen-container">
                    <img src="{{url_uploads}}{{producto.imagen}}" class="producto-imagen">
                </div>
                <div *ngIf="!producto.imagen" class="imagen-relleno"></div>
                <div class="figure-caption">
                    <h3>{{producto.nombre}} - {{producto.descripcion}}</h3>
                    <br>${{producto.precio}}
                    <div *ngIf="confirmado != producto.id">
                        <a [routerLink]="['/producto',producto.id]" class="btn btn-sm btn-info">Ver</a>
                        <a [routerLink]="['/editar-producto',producto.id]" class="btn btn-sm btn-warning">Editar</a>
                        <a (click)="borrarConfirm(producto.id)" class="btn btn-sm btn-danger">Eliminar</a>
                    </div>

                    <div *ngIf="confirmado == producto.id">
                        <p>Está seguro de querer borrar este producto?</p>
                        <a (click)="onDeleteProducto(producto.id)" class="btn btn-sm btn-danger">Confirmar Eliminación</a>
                        <a (click)="cancelarConfirm()" class="btn btn-sm btn-primary">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>